html, body {
	height: 100%;
	width: 100%;
	margin: 0;

	font-family: Roboto, sans-serif;
	font-size: 14px;
}

#react-container {
	width: 100%;
	height: 100%;

	--dark-grey: #202124;
	--white: #e8eaed;
	--black: #080808;

	color: var(--white);
}
