html {
	--dark-dark-grey: #202020;
	--dark-grey: #2b2b2b;
	--orange: #CC7832;
	--green: #6A8759;
	--grey: #323232;
	--yellow: #FFC66D;
	--black: #181818;
	--blue: #3592C4;
	--light-light-grey: #666666;
	--light-grey: #444444;
	--white: #A9B7C6;
}

html, body {
	height: 100%;
	width: 100%;
	margin: 0;

	font-family: Roboto, sans-serif;
	font-size: 14px;
}

* {
	box-sizing: border-box;
}

#react-container {
	width: 100%;
	height: 100%;

	color: var(--white);
}
